@tailwind base;
@tailwind components;
@tailwind utilities;

.home-container {
    @apply flex h-screen flex-col items-center justify-center pb-[150px] text-white;
}

.home-item {
    @apply z-10 mb-4 font-serif font-bold italic;
}

.main-background-img {
    background-image: url("/src/assets/images/home/home-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-background-img::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 36px;
    height: 3px;
    margin-top: 12px;
    padding-bottom: 4px;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(10px);
}

.hamburger-bottom {
    transform: translateY(20px);
}

.hamburger-dashboard {
    background: #000000;
}

.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.collection-content-container {
    @apply flex h-full flex-row;
}

.collection-container {
    @apply relative flex h-[500px] flex-col items-center justify-center;
}

.collection-container:nth-child(odd) {
    @apply text-white;
}

.collection-container:nth-child(even) .shop-item {
    @apply border-black;
}

.collection-background {
    @apply absolute left-0 top-0 h-full w-full;
}

.collection-item {
    @apply mt-10 flex w-full flex-col items-center justify-center p-6 md:p-10 xl:items-start xl:justify-start;
}

.collection-links {
    @apply mt-6 flex flex-row space-x-4 text-lg;
}

.collection-link {
    @apply flex flex-row items-center justify-evenly border border-white p-2 hover:cursor-pointer hover:text-gray-500 hover:border-gray-600;
}

.collection-shop-stack {
    @apply mt-auto flex flex-row space-x-1 text-sm sm:space-x-4 md:text-lg lg:space-x-4;
}

.shop-item {
    @apply border p-2 px-4 xl:px-6;
}

.collection-image {
    @apply hidden w-full flex-row items-center justify-center p-10 xl:flex;
}

.footer-feature {
    @apply flex flex-col items-center justify-center text-center;
}

.footer-title {
    @apply absolute ml-12 mt-10 font-serif text-2xl text-white md:text-5xl lg:ml-10 lg:mt-32;
}

.footer-nav-item {
    @apply mb-4 border-l-[3px] border-black;
}

.footer-social-icon {
    @apply h-8 w-8;
}

.login-section {
    @apply flex h-screen flex-col md:flex-row;
}

.login-form {
    @apply absolute flex h-screen w-full flex-1 flex-col items-center justify-center lg:relative;
}

.login-title {
    @apply z-10 mb-16 text-xl font-bold tracking-wide md:text-black lg:text-3xl xl:text-4xl;
}

.login-button {
    @apply mb-14 h-12 rounded-[8px] bg-gray-600 text-white lg:border-2;
}

.form-login-label {
    @apply mb-2 font-serif text-sm group-focus-within:text-black lg:text-gray-700;
}

.form-login-input {
    @apply border-black bg-inherit p-4 group-focus-within:border-black lg:border-slate-300;
}

.form-login-input.valid {
    @apply border-b;
}

.form-login-input.error {
    @apply border-b border-red-400;
}

.form-login-error {
    @apply mt-2 text-sm text-gray-400;
}

.form-label {
    @apply mb-4 font-serif text-sm text-gray-600 group-focus-within:text-black;
}

.form-error {
    @apply mt-2 text-sm text-gray-400;
}

.form-button {
    @apply mb-6 h-12 rounded-[8px] border-2 bg-gray-700 text-white;
}

.register-input {
    @apply border-b border-black bg-inherit p-2 group-focus-within:border-black lg:border-slate-300;
}

.checkout-input {
    @apply w-full border p-2;
}

.form-checkout-container {
    @apply m-10 flex flex-col border bg-gray-200 p-10 xl:m-32 xl:p-20;
}

.checkout-input {
    @apply w-full border p-2;
}

.form-checkout-container.valid {
    @apply border-b;
}

.shipping-container {
    @apply m-10 flex flex-col border bg-gray-200 p-20;
}

.shipping-container .error {
    @apply text-red-600;
}

.error {
    @apply border-red-400 border-b;
}

#home {
    @apply main-background-img h-screen;
}
